@import "/src/styles/font.css";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Vazirmatn;
  background-color: #f1f5f9;
  padding-top: 5rem;
}
